<%
const apx_title = [];
let flag = opt ? true : false

if(flag == true){
    apx_title.push({title : (opt.title || _.state.title || _.state.name), background : (opt.image ||  (_.state.pictures ? _.state.pictures[0].url : ''))})
}
 
if (apx_title[0].title) {
  %>
  <div class="hero-banner p-0" style="background-color:#000;background-image:url(<%- apx_title[0].background %>);">
    <div class="mask">        
    </div>
    <div class="page-title apx_bannerTitle container mt-4 mb-4 mb-lg-5" >
        <div class="page-title__head">
            <h1 class="my-0">
                <%= apx_title[0].title %>
            </h1>
        </div>
        <%
        const description = opt.description || _.state.short_description
        if (description) {
        %>
        <div class="page-title__short-description lead">
            <%= description %>
        </div>
        <% } %>
    </div>
    </div>
<% } %>