<% if (_.state.specifications) { %>
  <section id="product-specs" class="product-specs my-4 my-lg-5">
    <div class="container">
      <p class="lead">
        <!-- <a href="#specs" name="specs">#</a> -->
        Características
      </p>
      <div class="row gapper">
        <% for (const gridId in _.state.specifications) {
          if (_.state.specifications[gridId]) {

            %>
            <div class="col-6 col-md-3">
              <div class="row align-items-center">
                <div class="col-auto text-center">
                  <% 
                    let imageUrl = ""
                    const gridIcon = _.cms(`gridIcons/${gridId}`)

                    imageUrl = gridIcon.image 
                    
                    try{
                      let specificImage = gridIcon.options.find(el => el.option.name == _.state.specifications[gridId][0].text).option.image
                      if(specificImage != ""){
                        imageUrl = specificImage
                      }
                    }catch(e){

                    }
                    
                    
                  
                  %> 
                  <img src="<%= imageUrl %>"/>
                </div>
                <div class="col text-left">
                  <strong class="text-uppercase"><%= _.ecomUtils.gridTitle(gridId, _.grids) %></strong><br>
                  <span class="text-uppercase"><%= _.ecomUtils.specTextValue(_.state, gridId, _.grids) %></span>
                </div>
              </div>              
            </div>
            <%
          }
        } %>
        
      </div>
      
    </div>
  </section>
<% } %>
