<div class="discount-applier">
  <div v-if="pontoMarketOptions.pm.prize_list !== null && pontoMarketOptions.pm.status.value != 1" id="pm-selectOption">       
      <template >
      <label id="pm-title" class="pm__title">Clube Show: <i>{{Math.floor(pontoMarketOptions.pm.point_balance).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')}}</i> pontos</label>
      <small>Que podem ser trocados por:</small>
      <ul id="pm-list" >
        <li v-for="prize in pontoMarketOptions.pm.prize_list" v-if="prize.prize_value_type == 1 || prize.prize_value > 0">          
          <label>
            <input 
            type="radio" 
            @change="setPontoMarket" 
            name="pm-prize" 
            v-model="localPontoMarketCode" 
            :value="prize.id_prize" 
            :key="prize.id_prize"
            :id="prize.id_prize"
            :prize_value="prize.prize_value"
            :prize_value_type="prize.prize_value_type"
            />
            <span>{{prize.name}}<br><small>{{prize.points_required}} pontos</small></span>
            
          </label>
        </li>       
      </ul>
      <!-- <button type="button" id="removePontoMarket" @click="removePontoMarket" >Não quero utilizar meus pontos</button>         -->
    </template>
  </div>
  <template v-if="hasCouponInput">
    <transition-group
      enter-active-class="animated fadeInDown"
      leave-active-class="animated position-absolute fadeOutUp"
    >
      <div
        v-if="!isFormVisible"
        key="button"
      >
        <h6
          v-if="isAttentionWanted"
          class="discount-applier__intro"
        >
          {{ i19hasCouponOrVoucherQn }}
        </h6>

        <button
          class="discount-applier__coupon-btn btn btn-sm"
          :class="`btn-${(isAttentionWanted ? 'secondary' : 'light')}`"
          @click.prevent="isFormVisible = !isFormVisible"
          type="button"
        >
          <i class="fas fa-tag mr-1"></i>
          {{ i19addDiscountCoupon }}
        </button>
      </div>

      <form
        v-else
        key="form"
        @submit.prevent="submitCoupon"
        class="discount-applier__form"
      >
        <div class="form-group">
          <label for="discount-applier-coupon">
            {{ i19discountCoupon }}
          </label>

          <div class="input-group">
            <input
              type="text"
              ref="input"
              class="form-control discount-applier__input"
              id="discount-applier-coupon"
              required
              :readonly="isLoading"
              :placeholder="i19code"
              :aria-label="i19code"
              v-model="localCouponCode"
            >

            <div class="input-group-append">
              <span
                v-if="isLoading"
                class="input-group-text"
              >
                <span
                  class="spinner-grow spinner-grow-sm"
                  role="status"
                ></span>
                <span class="sr-only">Loading...</span>
              </span>

              <button
                v-else-if="canAddCoupon"
                key="add"
                class="btn btn-outline-secondary"
                type="submit"
              >
                {{ i19add }}
              </button>
              <button
                v-else
                key="applied"
                class="btn btn-outline-success"
                disabled
                type="button"
              >
                <i class="fas fa-check-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </transition-group>
  </template>

  <a-alert
    :key="`alert-${alertVariant}`"
    :can-show="!isLoading && Boolean(alertText)"
    :variant="alertVariant"
    @dismiss="alertText = null"
  >
  <!-- <span v-html="alertText"></span> -->
    {{ alertText }}
  </a-alert>
</div>