// Add your custom CSS here.
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
:root{
    --cor1: #AD1817;
    --cor2: #8A0403;
    --cor3: #FECC16;
    --cor4: #000;
    --cor5: #898989;
    --p:16px;
    --menu:14px;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f8f8f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
    border:3px solid #f8f8f8;
    border-radius:5px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
button,
a{
    font-family:"Lora";
}
body,
a,
button,
p{
    font-size:var(--p);
}
.products-carousel__title a{
    font-size:49px;
    color:var(--cor4);
    text-transform:uppercase;
    font-weight:bold;
}
.justify-content-end{justify-content: flex-end;}
.justify-content-start{justify-content: flex-start;}
.justify-content-center{justify-content: center;}
.justify-content-between{justify-content: space-between;}
.align-items-top{align-items: flex-start;}
.align-items-center{align-items: center;}
.align-items-bottom{align-items:flex-end}

.top-bar ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.top-bar{background:var(--cor1);padding:10px;}
.top-bar a.top-bar__countdown img,
.top-bar ul li a img{margin-right:5px;}
.top-bar a.top-bar__countdown b{font-weight:bold;}
.top-bar a.top-bar__countdown,
.top-bar ul li a{
    display: block;
    background: unset;
    padding: 0;
    font-size: 12px;
    line-height: initial;
}
.top-bar ul li a{font-weight:bold;text-transform:uppercase;color:#fff;}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1330px;
}
body .header__logo{max-width:unset!important;max-height:unset!important;}
.header__container{margin:0 auto;}
.header{background:var(--cor2);padding:15px 0 0 0;border:0;}

.header .header__buttons .btn .badge{
    background: var(--cor1);
    color: var(--cor3);
    font-size: 10px;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    line-height: 16px;
    padding: 0;
}

.header__nav{
margin-top:15px;
}
.header__nav > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header__nav > ul > li {}
.header__nav > ul > li > span > a,
#accordion-menu .menu__list > a > span{
    background: unset;
    font-weight: 700;
    font-size: var(--menu);
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px 3px 0 0;
    transition:unset;
}
.header__nav > ul > li:hover > span > a{
    color:var(--cor2);
    background:#fff;
}

#free-shipping-btn{
    // display: flex!important;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    background: var(--cor1);
    margin: 0;
    padding: 3px 5px;
}
#user-button{
    display: flex!important;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
}
#free-shipping-btn svg{}
#free-shipping-btn span,
#user-button span{
    color:#fff;
    font-size:12px;
    text-align:left;
    display:inline-block;
    text-transform:uppercase
}
#free-shipping-btn span b{}
#free-shipping-btn span b:first-child,
#user-button span b:last-child{display:block;}
.header__buttons{gap:30px;}
.header__buttons .btn{margin-left:0; padding:0;}


.header__search{overflow:visible}
#header #instant-search{}
#header #instant-search > .backdrop{display:none;}
#header #instant-search .search__box.card{
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
    border-radius: 0;
    width: 635px;
    border-top: 4px solid #4f2209;
    margin-top: 15px;
}
#header #instant-search .search__box.card .search__header{display:none;}
#header #instant-search .search__box.card .search-engine__results{}
#header #instant-search .search__box.card .search-engine__results .search-engine__info h3{display:none;}
#header #instant-search .search__box.card .search-engine__results .search-engine__retail{}
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row{
    display: block;
    width: 100%;
    margin: 0;
}
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div{
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: flex-start;
    padding: 0;
}

#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__buy,
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__offer-stamp{display:none}

#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section,
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section .product-card__link{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section .product-card__pictures{height:auto;}
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card section picture{max-width:100px;}
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__name{
    padding:0 1rem;
    white-space: normal;
    width: 250px;
    text-align: left;
}
#header #instant-search .search__box.card .search-engine .lead{font-size:14px;margin-top:.5rem}
#header #instant-search .search__box.card .search-engine h4{font-size:18px;}
#header #instant-search .search__box.card .search-engine__results .prices{text-align:right;margin:0;}
#header #instant-search .search__box.card .search-engine__results .prices > *{margin:0;display:block;text-align:right;}
#header #instant-search .search__box.card .search-engine__results .prices > *:last-child{display:none}

#alpix .search__footer{
    font-size: 12px;
    background: #4f2209;
    border-radius: 0;
    border: 0;
}
#alpix .search__history,
#alpix .search__history a,
#alpix .search__count{color:#fff;font-size:12px;white-space:normal}

body{max-width:unset!important;overflow-y:auto!important;overflow-x:hidden!important;}

.header__search-input{
    height: 40px;
    font-size: 14px;
}
.header__row .order-lg-last{margin-left:auto;}

.products-carousel__title{

}
.products-carousel__title,
#receitas-post .receita-preparo h2{
    position: relative;
    width: fit-content;
    padding: 0rem 0 .5rem 0!important;
    margin: 5rem 0 3rem 0;
}
.products-carousel__title:before{display:none;}
.products-carousel__title > * > small:after,
.products-carousel__title > * > b:after,
#receitas-post .receita-preparo h2:after{
    content: "";
    width: 100vw;
    height: 3px;
    background: var(--cor1);
    position: absolute;
    bottom: 0;
    right: 0;
}
.products-carousel__title > * > small + p{
    font-size:14px;
    line-height:19px;
    color:var(--cor4);
    text-transform:initial;
    font-weight:normal;
    max-width:300px;
    display:block;
    font-family:'Open Sans';
}
.products-carousel__title{text-align:left;}
.products-carousel__title span,
.products-carousel__title a{padding:0;text-transform:uppercase;color:var(--cor5);font-size:20px;font-weight:bold;}
.products-carousel__title span > b,
.products-carousel__title a > b{font-size:49px;color:var(--cor4);display:block;position:relative;padding-bottom:.5rem;}
.products-carousel__title span > small,
.products-carousel__title a > small,
#receitas-post .receita-preparo h2{
    padding-bottom:.5rem;
    position:relative;
    font-size: 31px;
    line-height: 40px;
    color:var(--cor4);
    font-weight:bold;
    display:block;
    margin-bottom:1rem;
}
.products-carousel{padding:0}
.product-card{padding:20px;border:1px solid transparent;box-sizing:border-box}
.product-card:hover{
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border:1px solid #f8f8f8;
}
.products-carousel .glide__track{padding:0 15px 25px 15px}
.products-carousel .glide__slides{gap:00px;}
.product-card,
.product-card *{text-decoration:none;}
.product-card__name{
    font-size: 16px;
    line-height: 20px;
    color:var(--cor-4);
    text-align:center;
    margin-bottom:20px;
    text-decoration:none;
}
.product-card__pictures{margin-bottom:15px;}
.product-card__prices .prices__values{
    font-size: 20px;
    line-height: 26px;
    color:var(--cor4)
}
.product-card__prices .prices__compare s{
    font-size: 16px;
    line-height: 20px;
    color:var(--cor5);
}
.product-card__prices{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom:20px;
}
.product-card__buy > button{
    background: var(--cor2);
    border: 0;
    border-radius: 3px;
    line-height: 36px;
    padding: 0;
    width: 150px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 12px;
}
.product-card__buy > button i{display:none;}
@media(min-width:990px){
.col-md-4 .products-carousel__title{margin-top:0;}
}

#apx_footer{
    background:var(--cor2)
}
#apx_footer h4{
    color:var(--cor3);
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:20px;
}
#apx_footer p{
    font-family:"Open Sans";
    color:#fff;
    font-size:12px;
}
#apx_footer .footer__social{}
#apx_footer .footer__social a{
    background:var(--cor3);
    opacity:1;
    height:32px;
    width:32px;
    border-radius:3px;
    text-align:center;
    display:inline-block;
    line-height:32px;
    padding:0;
}
#apx_footer .footer__social i{
    color:var(--cor2)!important;
    font-weight:bold;
}
#apx_footer .footer__links{}
#apx_footer .footer__links li i{display:none;}
#apx_footer .footer__links li{
    margin-bottom:15px;
}
#apx_footer .footer__links li a{
    color:#fff;
    font-size:14px;
    font-family:"Open Sans";
}
#apx_footer .footer__payment-methods{}
#apx_footer .footer__payment-methods i{
    background-color:#fff;border-radius:3px;
}
#apx_footer .apx_credits *{text-transform:uppercase;font-weight:bold;font-size:14px;}
#apx_footer .apx_credits{
    color:#fff;
    font-size:12px;
    font-family:"Open Sans";
}
body > iframe:last-child{display:none;}

#apx_newsletter{}
#apx_newsletter h4{text-align:center;
color:var(--cor4);
font-size:41px;
font-weight:700;
text-transform:uppercase;
margin:0 0 15px 0;

}
#apx_newsletter h4 small{
    display:block;
    text-transform:initial;
    color:var(--cor5);
    font-size:28px;
    font-weight:700;
    margin-bottom:15px;
}
#apx_newsletter p u{
    text-decoration:none;
    border-bottom:3px solid var(--cor2);
}
#apx_newsletter p{
    color:var(--cor4);
    text-transform: uppercase;
    font-size:25px;
    font-weight:700;
    margin-bottom:50px;
    display:block;
    text-align: center;
}
#apx_newsletter form{
    border-bottom:1px solid #000;
    display:flex;
    justify-content:space-between;
    padding:10px 0;
    max-width:100%;
    width:500px;
    margin:0 auto;
}
#apx_newsletter form input::placeholder{font-style:italic}
#apx_newsletter form input{border:0;}
#apx_newsletter form button{
    color:var(--cor2);
    padding:0;
    text-transform:uppercase;font-weight:600;
    font-family:"Open Sans";
    background:transparent;
    border:0;
}

//instagram
.apx_instafeed a{position:relative;display:block;overflow:hidden;}
.apx_instafeed a:hover img{opacity:.5}
.apx_instafeed a img{
    max-width: 100%;
    transition: all .2s;
    object-fit: cover;
    min-height: 100%;
}
.apx_instafeed a:hover span{opacity:1}
.apx_instafeed a span{
    padding: 2rem;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 80%;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
    opacity:0;    
    transition:all .2s;
}

#apx_instagram{
    background:var(--cor2)
}
#apx_instagram h4{
    text-align:center;
    font-size:24px;
    color:#fff;
    font-weight:600;
    margin:0 0 30px 0;
}
#apx_instagram h4 small{color:var(--cor3);display:block;text-transform:uppercase;font-size:20px;font-weight:700;margin-bottom:10px;}

#page-home .sections .banner-slider:first-child{
    max-width:100%!important;
    height:auto!important;
    max-height:auto!important;
    --banner-aspect-ratio: unset!important;
}

.product-card__prices .prices__value + span{display:none;}

#page-products #product .product__buy + .mb-3,
#page-products #product .product__buy + .mb-3 + article{display:none;}

#page-products #product #product-actions > div > .product__prices{}
#page-products #product #product-actions > div > .product__buy{}

@media(min-width:990px){
    #page-products #product #product-actions > div > .product__prices{}
    #page-products #product #product-actions > div > .product__buy{}
}

#page-products #product.product{}
// #page-products #product.product .product__name{font-size:25px;text-transform:uppercase;line-height:32px;color:var(--cor4);font-weight:bold;}
// #page-products #product.product .product__sku{color:var(--cor5);font-size:11px;line-height:24px;}
// #page-products #product.product .prices__installments > small:first-child,
// #page-products #product.product .prices__compare small{display:none;}
// #page-products #product.product .prices__compare s{font-size:20px;line-height:26px;color:var(--cor4)}
// #page-products #product.product .prices__value{font-size:35px;line-height:45px;color:var(--cor4)}
// #page-products #product.product .prices__installments,
// #page-products #product.product .prices__discount{font-size:12px;line-height:24px;font-family:'Montserrat';}
// #page-products #product.product .prices__discount:before{content:"ou "}
// #page-products #product.product .prices__discount > span{
//     color: #fff;
//     font-size: 18px;
//     background: var(--cor1);
//     padding: 3px 5px;
//     display: inline-block;
//     margin: 5px 3px;
// }
// #page-products #product.product .prices__discount-label{font-size:0;}
// #page-products #product.product .prices__discount-label:before{content:"via PIX ou boleto";font-size:12px;}

// #page-products #product.product .product__buy button{
//     background: #03A678;
//     border-radius: 3px;
//     padding:0 2rem;
//     border:0;
//     min-width:270px;
// }
// #page-products #product.product .product__buy button span{
//     font-size: 21px;
//     line-height: 50px;
//     text-transform:uppercase;
//     font-weight:bold;
// }

#page-products #product.product .product__name{font-size:25px;text-transform:uppercase;line-height:32px;color:var(--cor4);font-weight:bold;}
#page-products #product.product .product__sku{color:var(--cor5);font-size:11px;line-height:24px;}

#product-actions .prices__installments > small:first-child,
#product-actions .prices__compare small{display:none;}
#product-actions .prices__compare s{font-size:20px;line-height:26px;color:var(--cor4)}
#product-actions .prices__value{font-size:35px;line-height:45px;color:var(--cor4)}
#product-actions .prices__installments,
#product-actions .prices__discount{font-size:12px;line-height:24px;font-family:'Montserrat';}
#product-actions .prices__discount:before{content:"ou "}
#product-actions .prices__discount > span{
    color: #fff;
    font-size: 18px;
    background: var(--cor1);
    padding: 3px 5px;
    display: inline-block;
    margin: 5px 3px;
}
#product-actions .prices__discount-label{font-size:0;}
#product-actions .prices__discount-label:before{content:"via PIX ou boleto";font-size:12px;}

#product-actions .product__buy button{
    background: #03A678;
    border-radius: 3px;
    padding:0 2rem;
    border:0;
    min-width:270px;
}
.apx_buyTogether #product-actions .product__buy button,
#product-actions .product__buy button span{
    font-size: 21px;
    line-height: 50px;
    text-transform:uppercase;
    font-weight:bold;
    color:#fff;
}

#page-products #product.product .product__buy button span i{display:none;}
#page-products #product.product .shipping-calculator{border-top:1px solid #f8f8f8;margin-top:.5rem;padding-top:1rem;}
#page-products #product.product .shipping-calculator [for=shipping-calculator-zip]{
    font-family:'Montserrat';
    font-weight:bold;
    font-size:11px;
    text-transform:uppercase;
}
#page-products #product.product .shipping-calculator #shipping-calculator-zip{
    border:1px solid #f2f2f2;
    border-radius:5px 0 0 5px;
    font-size:12px;
    font-family:'Montserrat';
    height:36px;
}
#page-products #product.product .shipping-calculator button{background:#666;border:0;padding:0 1rem;;line-height:34px;}
#page-products #product.product .shipping-calculator button i{display:none;}
#page-products #product.product .shipping-calculator button:after{content:"Calcular";font-size:12px;text-transform:uppercase;color:#fff;font-weight:bold;}
#page-products #product.product .product__info.lead{
    color: #7b7b7b;
    font-size: 14px;
    font-family: Montserrat;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    line-height: 24px;
}

.breadcrumb{}
.breadcrumb .breadcrumb-item{font-family:"Montserrat";font-size:12px;}
.breadcrumb .breadcrumb-item a{font-family:"Montserrat";font-size:12px;}

#product-description{
    background:#f8f8f8;
    padding:3rem 0;
}

.recommended-products .products-carousel__title > span,
#product-specs > .container > .lead,
#product-description > .container > .lead{
    position: relative;
    font-size: 31px;
    line-height: 40px;
    font-weight: bold;
    color: var(--cor4);
    text-transform: uppercase;
    width: fit-content;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.recommended-products .products-carousel__title > span:after,
#product-specs > .container > .lead:after,
#product-description > .container > .lead:after{
    content: "";
    width: 100vw;
    height: 3px;
    background: var(--cor1);
    position: absolute;
    bottom: 0;
    right: 0;
}

.img-responsive{max-width:100%}

#receitas-list{}
#receitas-list .card{
    background:var(--cor3);
    border-radius:6px;
    border:0;
    margin-bottom:30px;
    cursor:pointer;
}
#receitas-list .card .card-body{
    background:#fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius:8px;
    margin:-30px 20px 20px 20px;
}
#receitas-list .card .card-body .card-title{
    font-family:"Lora";
    font-size:16px;
    color:#000000;
    font-weight:bold;
    text-transform:uppercase
}
#receitas-list .card .card-body .card-text{
    font-size:12px;
    font-family:"Lora";
    color:#000000;
    margin:0;
    line-height:22px;
}
#receitas-list .card .card-body .card-text b{
    text-transform:uppercase;    
}

#receitas-post{}
#receitas-post .receita-name{
    color:var(--cor4);
    font-size:25px;
    text-transform:uppercase;
    font-weight:bold;
}
#receitas-post .receita-grid{
    border-top:1px solid #f8f8f8;
    border-bottom:1px solid #f8f8f8;
    padding:1rem 0; 
    margin:1rem 0;
}
#receitas-post .receita-grid .item{gap:5px;}
#receitas-post .receita-grid .item > div > b{font-weight:bold;font-size:12px;font-family:"Montserrat";text-transform:uppercase;}
#receitas-post .receita-grid .item > div > div{font-size:11px;font-weight:normal;font-family:"Montserrat"; text-transform:uppercase;}
#receitas-post .receita-ingredientes{
    margin: 1rem 0;
    border-bottom: 1px solid #f8f8f8;
    padding: 0 0 1rem 0;
}
#receitas-post .receita-ingredientes > div,
#receitas-post .receita-preparo > div *{font-family:"Montserrat";font-size:15px;line-height:28px;}
#receitas-post .receita-ingredientes ul,
#receitas-post .receita-ingredientes ol,
#receitas-post .receita-preparo > div ul,
#receitas-post .receita-preparo > div ol{margin:0;padding-left:20px;color:#7b7b7b}
#receitas-post .receita-ingredientes > strong{color:var(--cor2);font-family:"Montserrat";font-size:15px;margin-bottom:1rem;display:block;}
#receitas-post .receita-comprar{display:block;width:100%;padding-top:.5rem;}
#receitas-post .receita-comprar button{
    background:#666;
    text-transform:uppercase;
    border-radius:5px;
    font-size:21px;
    text-align:center;
    display:block;
    color:#fff;
    padding:10px;
    border:0;
    width:100%;
    font-weight:600;
}

#receitas-post .bg{
    background:#f8f8f8;
    margin:5rem 0;
    padding:3rem 0;
}

#receitas-post #receita-sections{}
#receitas-post .receita-preparo h2{margin-top:0;text-transform:uppercase;margin-bottom:2rem;}

#receitas-post .receita-ingredientes li,
#receitas-post .receita-preparo li{
    margin:5px 0;
}

#receitas-post .receita-preparo li{line-height:36px;}

/* apx_productItemHorizontal */
.apx_productItemHorizontal{}
.apx_productItemHorizontal .product-card__pictures{height:100%;margin:0!important}
.apx_productItemHorizontal .product-card__picture{width:100%;}
.apx_productItemHorizontal .product-card__picture,
.apx_productItemHorizontal .product-card__picture img{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin:0 auto;
}
.apx_productItemHorizontal .product-card__name{text-align:left;color:var(--cor4)}
// .apx_productItemHorizontal .product-card .col-9.justify-content-start *{text-align:left}
.apx_productItemHorizontal .product-card__buy{opacity:1!important}
.apx_productItemHorizontal .product-card__buy button,
.apx_productItemHorizontal .product-card__prices{justify-content: flex-start;margin-left:0;margin-right:auto;}

.d-flex.prices__align{flex-wrap:wrap;}

.apx_buyTogether-buy{
    background:#f9f9f9;
    border-radius:5px;
    padding:2rem;
    position: sticky;
    top: 180px;
}
.apx_buyTogether #product-actions .product__buy button{width:100%;}
.apx_buyTogether #product-actions .product__buy{
    margin:1rem 0 0 0;
    width:100%;
}
.apx_buyTogether{margin:5rem 0;}
.apx_buyTogether h4{margin-top:0!important}

.egs_filter{
    position: sticky;
    top: 170px;
}
.egs_filter .egs_filter-title,
.search-engine__aside .filters-title{
    font-size:31px;
    font-weight:bold;
    position:relative;
    display:block;
    width:100%;
    text-transform:uppercase;
    color:#000;
    margin-bottom:2rem;
    padding-bottom:.5rem;
}
.egs_filter .egs_filter-title:after,
.search-engine__aside .filters-title:after{
    content: "";
    width: 100vw;
    height: 3px;
    background: var(--cor1);
    position: absolute;
    bottom: 0;
    right: 0;
}
.egs_filter .egs_filter-options_title,
body .search-engine__aside .search-engine__filter > button{font-size:16px;font-weight:bold;text-transform:uppercase;color:#000;font-family:"Montserrat"}
.egs_filter .egs_filter-options-list{list-style-type:none;padding:0;margin:0 0 2rem 0;}
.egs_filter .egs_filter-options-list label,
.search-engine__filter .custom-control-label{font-family:"Montserrat";font-size:14px;font-weight:400;}
.egs_filter .egs_filter-options-list label input{margin:3px 0 0 0;vertical-align:middle;position:absolute;opacity:0;}
.custom-checkbox .custom-control-input:checked~.custom-control-label:after{display:none;}
.egs_filter .egs_filter-options-list label input + i,
body .custom-checkbox .custom-control-label:before{
    height:10px;
    width:10px;
    border:1px solid #000;
    display:inline-block;margin:-2px 10px 0 0;vertical-align:middle;
    border-radius:0;
    position: relative;
    top: auto;
    left: auto;
}
.egs_filter .egs_filter-options-list label input:checked + i,
body .custom-control-input:not(:disabled):active~.custom-control-label:before,
.custom-control-input:checked~.custom-control-label:before{
    background:var(--cor3)!important
}

.egs_filter .egs_filter-clear{
    margin: -1rem 0 2rem 0;
    display: block;
    background: transparent;
    color: var(--cor2);
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid var(--cor2);
    padding: 5px 10px;
    font-family: "Montserrat";
    border-radius: 3px;
}
// filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
.egs_dropdown:hover .egs_dropdownMenu{display:block;}
.egs_dropdownMenu{
    position: absolute;
    width: 100%;
    background: #fff;    
    padding: 2rem;
    display:none;
}
.egs_dropdownMenu .egs_dropdownMenu-categories + .egs_dropdownMenu-filters{
    border-top: 1px solid var(--cor1);
    padding-top: 1.5rem;
    margin-top: 1rem;
}
.egs_dropdownMenu .egs_dropdownMenu-categories{justify-content:center;align-items:flex-end}
.egs_dropdownMenu .egs_dropdownMenu-categories a{}
.egs_dropdownMenu .egs_dropdownMenu-categories a .egs_dropdownMenu-image{margin-bottom:1rem;}
.egs_dropdownMenu .egs_dropdownMenu-categories a .egs_dropdowmMenu-image img{}

.egs_dropdownMenu .egs_dropdownMenu-filters{justify-content:center;align-items:flex-start}
.egs_dropdownMenu .egs_dropdownMenu-filters b,
.egs_dropdownMenu .egs_dropdownMenu-categories a .egs_dropdownMenu-title{
    text-transform:uppercase;
    font-size:12px;
    font-weight:700;
    display:block;
    margin-bottom:.3rem;
    text-align:left;
}
.egs_dropdownMenu .egs_dropdownMenu-categories a .egs_dropdownMenu-title{font-size:14px;}
.egs_dropdownMenu .egs_dropdownMenu-filters ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.egs_dropdownMenu .egs_dropdownMenu-filters ul > li{text-align:left;margin-top:.2rem;}
.egs_dropdownMenu .egs_dropdownMenu-filters ul > li > a{
    font-size:12px;
    text-transform:initial;
    padding:0;
}

.egs_dropdown{position:initial}

.egs_dropdownMenu:before{
    content: "";
    background: #fff;
    width: 3000px;
    height: 100%;
    left: -50%;
    position: absolute;
    top: 0;
    z-index: -1;
    box-shadow: 0 10px 20px #2e2e2e;
}


.header__nav a:hover{background:unset;color: var(--cor1);}

body .search-engine__aside{
    position:relative;
    width:100%;
    height:auto;
    z-index:1;
    border:0;
}
body .search-engine__aside .search-engine__filter>button{
    padding-left:0;padding-right:0;
    text-align:left;
}
body .search-engine__aside .search-engine__filter > button > i{display:none!important;}
body .search-engine__aside .search-engine__filter > button + .collapse{
    display:block!important;
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem;
}

body .search-engine__aside .custom-checkbox{padding:0}

.hero-banner{background-size:cover;padding:4rem 0;position:relative;margin:0 0 2rem 0;}
.hero-banner .mask{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.hero-banner .page-title{
    margin-top:0;
    margin-bottom:0;
    background-size:cover;
    // width: 100vw;position:relative;max-width: 100vw;
     
}
.hero-banner .page-title{position:relative;z-index:2}
.hero-banner .page-title h1{
    color:#fff;
    font-size:49px;
    font-weight:600;
    text-transform:uppercase;
}
.hero-banner .page-title .page-title__short-description{
    font-family:"Montserrat";
    font-size:14px;
    text-align:left;
    color:#fff;
    max-width:600px;
    line-height:28px;
    margin:1rem 0 0 0;
}
.page--categories .hero-banner img{display:none;}
@media(min-width:990px){
    body .search-engine__info,
    body .search-engine__aside .card-header,
    body .search-engine__aside .card-footer{display:none;}
    body .search-engine__aside{
        position: absolute;
        padding: 0 1rem;
        top: 0;
        left: 0;
    }
    body .search-engine__aside .card-body{padding:0;}
    // body .search-engine__aside .card-body,
    // .page--categories .search-engine__retail{
    //     padding: 0px;
    //     border: 0px;
    //     max-height: calc(100vh - 280px);
    // }
    .search-engine__aside-open{display:none;}

    // body .search-engine__aside{
    //     position: sticky;
    //     top: 175px;
    // }
}
#clubeshow{
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 999;
}
#clubeshow > .trigger{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    height:80px;
    width:80px;
    border-radius:80px;
    background:var(--cor2);
    border:0;
    position:relative;
    outline:none!important;
}
#clubeshow > .trigger > span{
    background:var(--cor3);
    color:var(--cor2);
    position:absolute;
    height:20px;
    width:20px;
    border-radius:20px;
    line-height:20px;
    font-weight:600;
    top:0;
    right:0;
}
#clubeshow.visible .content{
    pointer-events:all;
    transform:scale(1);
    opacity:1;
    left:0;
}
#clubeshow .content{
    background: #f8f8f8;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    max-height: calc(100vh - 175px);
    border-radius: 5px;
    position: relative;
    transform: scale(0.1);
    opacity: 0;
    pointer-events: none;
    left:-450px;
    transition:all .5s;
    position: absolute;
    bottom: 75px;
}
#clubeshow .content form{}
#clubeshow .content form label{
    display: block;
    color: #000;
    font-family: "Montserrat";
    font-size: 13px;
    margin-bottom:1rem;
    font-weight:600;
    text-align:left;
}
#clubeshow .content form input{
    border: 0;
    border-bottom: 1px solid #000;
    background: transparent;
    padding-bottom:5px;
}
#clubeshow .content form input[type="submit"]{
    color:var(--cor2);
    font-family:"Montserrat";
    font-size:14px;
    text-transform:uppercase;
    font-weight:500;
}
#clubeshow .content .trigger{
    position: absolute;
    top: -15px;
    right: -15px;
    font-family: Montserrat;
    font-weight: bold;
    text-transform: lowercase;
    background: var(--cor1);
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 0;
    outline:none!important;
}
#search-bar .search-engine > .row > div:first-child,
#search-bar .search-engine .search-engine__aside{display:none!important}
#search-bar .search-engine > .row > div:nth-child(2){width:100%;flex:0 0 100%;max-width:100%;margin:0}
#search-bar .search-engine > .row > div:nth-child(2) .product-card{padding:0;margin-bottom:2rem;box-shadow:unset!important;border:0!important;}
#search-bar .search-engine > .row > div:nth-child(2) .product-card .product-card__pictures{width:100px;height:100px;margin:0;}
#search-bar .search-engine > .row > div:nth-child(2) .product-card .product-card__pictures img{max-height:100px;max-width:100%;}
#search-bar .search-engine > .row > div:nth-child(2) .product-card .product-card__rating{display:none!important}
#search-bar .search__body{
    min-height: unset;
    max-height: calc(100vh - 250px);
}


aside#menu{background: var(--cor2);}
#accordion-menu .menu__list > a > span{text-transform:uppercase;}
#accordion-menu .menu__list > a.menu__item{
    border:0;
    padding:5px 10px;
}
#accordion-menu .menu__btn--clone{color:var(--cor3)}
#accordion-menu .menu__item:hover{background:var(--cor1)}
#menu .menu__footer{display:none}

.products-carousel .glide__arrow{
    height:40px;
    padding:0;
}
.products-carousel .glide__arrow svg{display:block;}
// .products-carousel .products-carousel__item{margin:0!important}

@media(max-width:990px){
    .header__buttons{gap:5px;padding-right:5px;}
    .header__buttons svg{
        height: 28px;
        width: 28px;
    }
    #header.header{padding:5px}
    body .header__logo{
        height: 70px;
        margin: 0 0 -22px 0;
    }

    #clubeshow{left:0}
    #clubeshow>.trigger{
        border-radius:0 10px 10px 0;
        width:50px;height:50px;
    }
    #clubeshow>.trigger>svg{
        height:38px;
        width:38px;
    }
    #clubeshow>.triger>span{
        top: -6px;
        right: -6px;
        font-size: 10px;
        height: 16px;
        width: 16px;
        line-height: 17px;
    }
    
    #apx_footer,
    #apx_footer *{
        text-align:center;
        justify-content:center;
    }

    #apx_footer .footer__links{margin-bottom:50px;}
    #apx_footer .footer__links li{line-height:initial;margin-bottom:10px;}
    #apx_footer .footer__links li a{font-size:12px;}
    #apx_footer h4{margin-bottom:10px;}

    #apx_footer .header__logo{margin:0 auto}

    #apx_newsletter h4{font-size:28px}
    #apx_newsletter p,
    #apx_newsletter h4 small{font-size:16px}
    #apx_newsletter form input,
    #apx_newsletter form button{font-size:14px;}
    #apx_newsletter form button svg{width:16px;height:16px;}

    .products-carousel__title a, .products-carousel__title span{font-size:16px}
    .products-carousel__title a>b, .products-carousel__title span>b,
    #receitas-post .receita-preparo h2, .products-carousel__title a>small, .products-carousel__title span>small{font-size:24px}

    .products-carousel{padding:0 15px;}

    .products-carousel .product-item{padding:0;margin:0 5px;}
    .products-carousel .product-card{padding:0 30px}
    .products-carousel .products-carousel__item,
    .products-carousel .glide__track{padding:0}
    .product-card:hover{border-color:transparent;box-shadow:unset;}
    .product-card .product-card__buy{opacity:1}

    .products-carousel,
    .products-carousel *{box-sizing:border-box}
}
@media(min-width:990px){
    .products-carousel .product-item{
        padding:0 15px 25px 15px!important;
    }
    .products-carousel,
    .products-carousel *{box-sizing:border-box}
    .products-carousel .glide__track{padding:0}
}
.gallery .glide{padding-bottom:50px;margin-bottom:50px;}
.gallery .glide__bullets{bottom:0}
.gallery .glide__bullet{
    width:75px;
    height:6px;
    border-radius:0;
    border:0;
    background:#F2F2F2
}

.gallery .glide__bullet.glide__bullet--active{
    background:#AD1817
}

#clubeshow_result{}
#clubeshow_result > div:first-child{
    background: var(--cor1);
    padding:5px;
    font-size:12px;
    display:block;
    margin-top:5px;
    border-radius:4px;
    text-align:center;
    color:#fff
}
#clubeshow_result > div:first-child b{color:var(--cor3)}
#clubeshow_result > ul{
    list-style-type: none;
    margin: 10px 0 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 0!important;
    overflow-y: scroll;
    max-height: calc(100vh - 300px);
    padding-bottom: 15px!important;
    margin-right:-10px;
}
#clubeshow_result > ul > li input{flex:0 0 20px;}
#clubeshow_result > ul > li:nth-child(odd){}
#clubeshow_result > ul > li{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    font-size:12px;
    gap:10px;
    border:1px solid #f2f2f2;
    background:#fff;
    border-radius:5px;padding:5px;
}
#clubeshow_result > ul > li label{margin:0;font-weight:bold;}
#clubeshow_result > ul > li label small{display:block;}
#clubeshow_result > ul > li label + br + b{font-size:10px;}
#clubeshow_result > ul > li label + br + b i{font-style: normal;}
#clubeshow_result > ul > li input{}

#pm-selectOption {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
}
#pm-selectOption #pm-title{
    background:var(--cor2);
    color:#fff;
    font-weight:bold;
    display:block;
    text-align:center;
    padding:5px;
    border-radius:3px;

}
#pm-selectOption #pm-title i{
    color:var(--cor3);
    font-style:normal;
}
#pm-selectOption ul{
    list-style-type:none;
    padding:0;
    margin:0;
    display:flex;
    gap:5px;
    flex-direction:column;
}
#pm-selectOption ul li label{
    font-size:14px;
    display:flex;
    align-items:center;
    gap:10px;
     margin:0;    
}
#pm-selectOption ul li{
    padding:10px;
    border-radius:5px;
}
#pm-selectOption ul li:nth-child(even){
    background:#f2f2f2;    
}
#pm-selectOption ul li input:checked + span{font-weight:600;}
#pm-selectOption ul li .points{}

/* SIDE CART */
#cart-quickview .card-header button.close{
    color:#fff!important;
}
#cart-quickview .card-header{
    background: var(--cor1);
    border: 0;
    border-radius:0;
    color: #fff;
    font-weight:600;
    text-transform:uppercase
}
#cart-quickview .card{border:0}
#cart-quickview .card-body{}
#cart-quickview .card-body .cart-item__name a{font-size:14px;}
#cart-quickview .card-body .cart-item__prices{font-weight:bold}
#cart-quickview .card-body .cart-item__prices *{font-weight:normal;}
#cart-quickview .card-body .picture img,
.summary__item picture img{max-height:70px;max-width:70px;margin:0 auto;display:block}
#cart-quickview .card-footer{}

#cart-quickview .card-footer .minicart__btn-checkout i{display:none}
#cart-quickview .card-footer .minicart__btn-checkout{
    background:#03a678;
    font-weight:bold;
    text-transform:uppercase;
    border:0;
    padding:.7rem;
}
.cart-item .close{font-size:12px;}

@media(min-width:990px){
    #header{
        position: relative;
        top: unset;
    }
    .mini-photo .product-card{padding:15px}
    .mini-photo .product-card .product-card__pictures img,
    .mini-photo .product-card__pictures{max-height:150px}

    .app__logo {
        margin: -10px 0;
        width:auto;
        height:auto;
        max-width:unset;
        max-height:unset;
    }
}
#page-products .gallery picture,
#page-products .gallery img{max-height:500px;}

/* CHECKOUT */
.app .checkout__info{
    background: transparent;
    border: 0;
}
.app .checkout__summary,
#cart .cart__info{
    padding: 2rem;
    margin: 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
    height: auto;
    // position: sticky;
    top: 15px;
    background:transparent
}
.checkout__summary .summary__title,
.checkout__app .summary__buyer h5,
#cart .cart__info [for="shipping-calculator-zip"]{
    font-weight:600;
}
.checkout__app .summary__buyer p,
.checkout__app .summary__buyer p *{font-size:12px}
.checkout__app .summary__buyer p small{font-weight:600;}
.checkout__summary .summary__list .summary__item > div{font-size:11px;}
.checkout__summary .summary__list .summary__item > div > a{margin-top:5px;display:block;}
.checkout__summary .summary__list .summary__item > div > a,
.checkout__summary .summary__list .summary__item > div > a > small{font-size:12px;font-weight:600;}
.checkout__summary .summary__list .summary__item > div > .badge{font-size:11px;background:transparent;color:var(--body-color);padding:0;font-weight:normal;margin-right:10px;}
.checkout__summary .summary__list .summary__item > div > .badge:after{content:"x";}
.checkout__summary .summary__amount > .summary__amount__row{
    font-size: 14px;
    border-bottom: 1px solid #ececec;
    padding: 5px 0 10px 0;
}
#checkout .checkout .form-control{
    border: .1rem solid #e1e1e1;
    padding: 1.2rem;
    border-radius: .3rem;
    font-size: .8rem;
}
#checkout .checkout .form-control + .input-group-append{
    border-radius: 0 .3rem .3rem 0;
}
#checkout .checkout .form-row > .form-group{
    width: 100%;
    min-width: 100%;
}
#checkout .checkout .form-group label{
    font-size: .8rem;
    font-weight: 500;
}
#checkout .checkout .input-group .btn{
    line-height: normal;
    font-size: .8rem;
    border-radius: .3rem;
    margin-left:1rem;
}
#spa #storefront-app h1:before{display:none;}
#spa #storefront-app h1{}

#checkout .checkout .login{max-width:100%; width:550px;}

#checkout .checkout .login .h4,
#checkout .checkout .checkout__account > p.lead{
    font-size: 1rem;
    margin-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead{
    border-bottom: 2px solid var(--body-color);
    padding-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead + form{
    padding:1rem;    
}
#checkout .checkout .login__confirm{
    background: #f8f9fa;
    margin: 2rem 0rem!important;
    padding: 2rem;
    max-width: unset;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
}
#checkout .checkout .login__confirm .lead{font-size:.8rem;margin-bottom:1rem;}
#checkout .checkout .login__oauth{margin-top:3rem;}
#checkout .checkout .login__oauth .lead{font-size:1rem;}
#checkout .checkout .login__info{display:none;}
.app__footer{display:none}
.app__header{
    background: var(--cor1);
    box-shadow: unset;
}
.app footer,
.app__credits{background:transparent}
.app__credits *{
    color:var(--body-color);
    font-size:12px;
}
.app__header{
    border-bottom: solid .1rem #e1e1e1;
}
.app footer{
    border-top: solid .1rem #e1e1e1;
}
.app .ecom-credits a{font-size:0;}

.app .checkout__back > a,
.checkout__app .summary__buyer button,
.checkout__account button,
.checkout .account-addresses button[type="submit"],
.checkout .checkout__btn-proceed,
.checkout .account-addresses__card + .btn-outline-secondary,
.discount-applier .discount-applier__coupon-btn,
.checkout .payment .payment__method > form > button.btn-success,
.checkout .payment .payment__method > button,
.cart__info > .btn{
    width: 100%;
    text-align: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
    line-height: 2rem;
}
.checkout .checkout__btn-proceed{margin-top:1rem;}
.checkout .checkout__btn-proceed i,
.checkout .account-addresses button[type="submit"] i{display:none}
.app__header .app__contact,
.app__header .app__safe{font-size:12px;}

.checkout__app .checkout__steps{
    max-width: 80%;
    margin: 0 auto 2rem auto;
}
.checkout__app .checkout__steps .checkout__step{
    border-bottom:3px solid var(--body-color);
    text-transform:initial;
    padding:1rem;
    font-weight:600;
    position:relative;
}
.checkout__app .checkout__steps .checkout__step .fa-arrow-left{display:none}
.checkout__app .checkout__steps .checkout__step:before{
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    background: var(--body-color);
    border-radius: 50%;
    left: calc(50% - 8px);
    bottom: -9px;
}
.checkout__app .checkout__steps .checkout__step *{color:var(--body-color);opacity:1;}
.checkout__app .checkout__steps .checkout__step small{display:none}
.checkout__app .checkout__steps .checkout__step--past,
.checkout__app .checkout__steps .checkout__step--current{color:var(--body-color)}
.checkout__app .checkout__steps .checkout__step--disabled:before{background: #e1e1e1;}
.checkout__app .checkout__steps .checkout__step--disabled{border-color:#e1e1e1}

.checkout .payment .list-group > a{
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
}
.checkout .payment .list-group > a .payment__head{
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .3rem .3rem 0 0;
}
.checkout .payment .list-group > a:hover .payment__head{
    background: var(--body-color);
    color: var(--body-bg);
}

.checkout .payment .payment__method{
    border: 0;
    border-radius: .3rem;
    background:#f9f9f9
}

.list-group-item.active{
    color: #495057;
    text-align: inherit;
    border: 1px solid rgba(0,0,0,.125);
    background: #fff;
}

.shipping-calculator .list-group-item:before {
    content: "";
    border: 2px solid #dfdfdf;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    margin: 5px 10px 0px -10px;
    border-radius: 50%;
}
.shipping-calculator .list-group-item.active:before{    background: var(--cor3);}
.cart .cart__list{}
.cart .cart__list .cart-item:first-child{border-top:0}
.cart .cart__list .cart-item{
    border-bottom:1px solid #e1e1e1;
    padding:1rem 0;
    margin:0;
}
.cart .cart__list .cart-item__name,
.cart .cart__list .cart-item__name a{
    font-size:1rem;
    font-weight:600;
    text-decoration:none;
}
.cart .cart__list .cart-item__quantity{}
.cart .cart__list .cart-item__prices{font-weight:600}
.cart .cart__list .cart-item__prices .cart-item__price-un{}

.app__header{
    padding: 1.6rem 0;
    border-bottom:0;
}
.app__contact,
.app__contact span:not(:first-child),
.app__header .app__contact, .app__header .app__safe,
.app__safe-icon{color:#fff;}
.app__contact span:not(:last-child){margin-right:5px;}

.app__header .app__contact, .app__header .app__safe {
    font-size: 14px;
    line-height: 32px;
}
.product-card .prices__value .prices__installments:before{content:"ou"}
.product-card .prices__value .prices__installments{
    font-size: 12px;
    letter-spacing: 0;
    display: inline-block;
}
.product-card .prices__compare{display:block;margin-bottom:5px;}

.minicart__subtotal .prices__installments{
    display:block;
    letter-spacing:0;
    font-size:12px;
    margin-top:5px;
}

.list-inline{display:flex;margin:0;align-items:baseline;}


.recommended-items .product-card .product-card__buy{text-align:center;}
.recommended-items .product-card .product-card__buy > button,
.recommended-items .product-card .product-card__buy > button *{font-size:0;}
.recommended-items .product-card .product-card__buy > button:before{content:"Comprar";font-size: 12px;}

.cart-item img{max-height:100px;}
.cart__list + .recommended-items{margin-top:3rem;}
.cart__list + .recommended-items .product-card .product-card__prices *{font-size:16px;margin:0;}
.product-card--small .product-card__name{font-size:14px;margin-bottom:15px;}
.product-card--small .product-card__buy > button{line-height:30px;padding-top:3px;}
body .cart .cart-item{border-top:0;}

@media(max-width:990px){
    body .search-engine__aside{
        position: fixed;
        width: 280px;
        max-width: 100%;
        height: 100%;
        top: 0;
        right: -100vw;
        z-index: 1100;
        border-radius: 0;
        transition:right .3s;
    }
    body .search-engine__aside.active{right:0;}
    body .search-engine__aside .filters-title{display:none}

    body .search-engine__aside.active + #custom-backdrop{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background: var(--dark);
        width: 100%;
        height: 100%;
        opacity: .4;
    cursor: pointer;
    }

    .hero-banner .page-title h1{
        font-size:26px;
        text-align:left;
    }
    .hero-banner .page-title .page-title__short-description{font-size:12px;line-height:20px;}
    .hero-banner{padding:2rem 0;}

    .category-retail .search-engine__retail{}
    .category-retail .search-engine__retail > .row{}
    // .category-retail .search-engine__retail > .row > div{padding-left:5px;padding-right:5px;}
    .category-retail .search-engine__retail > .row > div .product-item{}
    .category-retail .search-engine__retail > .row > div .product-item .product-card{padding:0;margin-bottom:45px;}
    .category-retail .search-engine__retail > .row > div .product-item .product-card__pictures{}
    .category-retail .search-engine__retail > .row > div .product-item .product-card__pictures,
    .category-retail .search-engine__retail > .row > div .product-item .product-card__pictures img{max-height:150px;}
    .category-retail .search-engine__retail > .row > div .product-item .product-card__prices{flex-direction:column;gap:0}
    .category-retail .search-engine__retail > .row > div .product-item .product-card__name{font-size:14px;}
    .category-retail .search-engine__retail > .row > div .product-item .product-card__buy button{
        width:fit-content;
        padding:0 15px;
    }
    .search-engine__selected{display:none;}
    .category-retail .search-engine__info{margin:0 -15px}
    // .category-retail .search-engine__retail > .row > div .product-item .product-card__prices *{font-size:14px;margin:0;}
}